<div id="container">
  <aside class="ribbon3"><span class = "ribbon3__number">3</span> Apply finish</aside>
  <p class = "text-center">Thank you for apply<p>
  <p class = "text-center"><%=link_to "Back to top page", root_path%></p>
</div>