 aside:before, aside:after {
	 height: 0;
	 width: 0;
	 content: '';
	 position: absolute;
	 border-style: solid;
	 border-width: 0;
}

 #container {
	 width: 160px;
	 margin: 150px auto;
    }

aside {
	 margin: 60px 0;
	 line-height: 34px;
	 position: relative;
}
 aside.ribbon3 {
	 background-color: #bf7fff;
     text-align: center;
}
 aside.ribbon3:after, aside.ribbon3:before {
	 border-width: 14px 0 20px 20px;
}
 aside.ribbon3:before {
	 border-color: #bf7fff transparent;
	 left: -20px;
}
 aside.ribbon3:after {
	 border-color: transparent #bf7fff;
	 right: -20px;
}
.ribbon3__number{
	background-color: white;
    border-radius: 50%;
    border: 3px solid white;
}

.form__apply-heading{
	text-align: center;
}

.form__label{
	min-width: 100px;
}

.form__apply{
	margin-bottom: 100px;
}

.form__text-field{
	padding: 10px;
  font-size: 17px;
  border: 1px solid grey;
  float: right;
  width: 80%;
  background: #f1f1f1;
}

.form__apply-field{
  margin: 10px;
}
 
.confirm__btn{
  margin-top: 30px;
	
}



.form__apply-btn{
  display: flex;
  justify-content: space-around;
  width: 100%;
}