/* style for city list page */
.city_list {
    margin-top: 20px;
    display: flex;
    justify-content: space-around;
}

.city_list > a:link, a:visited  {
    
        background-color: #ca8782;
        color: rgb(26, 29, 193);
        padding: 14px 25px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
}

.city_list > a:hover, a:active {
    background-color: red;
}

.grid-container {
    display: grid;
    grid-template-columns: auto auto auto auto;
    /* align-items: center; */
    gap: 50px;
    background-color: #eef3f7;
    padding: 10px;
  }
  
.grid-container > div {
    background-color: rgba(255, 255, 255, 0.8);
    text-align: center;
    padding: 20px 0;
    font-size: 30px;
  }

