
.form-actions{
  display: flex;
  justify-content: space-around;
  margin: 12px;

}

.form-inputs{

}

.register__form{
    
}

.form-inputs-field{
  padding: 10px;
  font-size: 17px;
  border: 1px solid grey;
  width: 80%;
  background: #f1f1f1;
}

.register__form-confirm{
  margin: 40px;

}
.register__form-confirm-btn{

}