<div class="regsiter">
  <h1 class="register__heading">Register</h1>
  <p class="register__text">Thank you for register our service, an confirmation email with registration link
    has been sent to your email. Please check your email within 24 hours.
    Please note that the registration link is only valid for 24 hours.
    Over that period, you will have to register your email again.</p>
</div>